<% if comment.body.present? %>
    <div class="row">
      <div class="col-md-12">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <%= comment.commenter %>
        <span class="pull-right"><%= comment.created_at %></span>
        <p><%= comment.body %></p>
        <%= link_to 'Delete', [comment.movie, comment], method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger pull-right" %>
      </div>
    </div>

    <hr>
<% end %>