<% if comment.body.present? %>
    <div class="comment-main-level">
      <div class="comment-box">
        <div class="comment-head">
          <h6 class="comment-name by-author"><%= comment.commenter %></h6>
          <span class="pull-right"><%= comment.created_at.strftime("%B %d, %Y %H:%M") %></span>
        </div>
        <div class="comment-content">
          <%= comment.body %>
        </div>
      </div>
    </div>
<% end %>