<div class="row">
  <div class="col-md-12">
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <%= comment.commenter %>
    <span class="pull-right">10 days ago</span>
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete comment', [comment.movie, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
</div>

<hr>