<div class="row">

  <div class="col-md-3">
    <p class="lead">Videos</p>
    <div class="list-group">
      <%= link_to new_movie_path, class: "list-group-item" do %>
          <i class="glyphicon glyphicon-plus text-success"></i> Add a video
      <% end %>
    </div>

    <br>

    <%= render 'categories' %>

  </div>

  <div class="col-md-9">

    <div class="row">
      <% if !@movies.empty? %>
        <%= render @movies %>
      <% else %>
        <h2 class="text-white text-center">No videos available.</h2>
      <% end %>
    </div>

  </div>

</div>
