<div class="row">

  <div class="col-md-3">
    <p class="lead">New video</p>
    <div class="list-group">
      <%= link_to movies_path, class: "list-group-item" do %>
          <i class="glyphicon glyphicon-menu-left text-primary"></i> Back to videos
      <% end %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <%= render 'form' %>
    </div>
  </div>

</div>
