<div class="row">

  <div class="col-md-3">
    <p class="lead">Your profile</p>
    <div class="list-group">
      <%= link_to edit_user_path, class: "list-group-item" do %>
          <i class="glyphicon glyphicon-pencil text-warning"></i> Edit
      <% end %>
      <%= link_to root_path, class: "list-group-item" do %>
          <i class="glyphicon glyphicon-menu-left text-primary"></i> Back to homepage
      <% end %>
    </div>
  </div>

  <div class="col-md-9">
      <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://planetozh.com/blog/wp-content/uploads/2014/01/contributions.png" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="https://help.github.com/assets/images/help/profile/identicon.png" alt="Profile image example"/>
        <div class="fb-profile-text">
          <h1><%= @user.name %></h1>
          <p><%= @user.email %></p>
        </div>
      </div>
  </div>
</div>
