<div class="row">

  <div class="col-md-3">
    <p class="lead">Parameters</p>

    <p><%= link_to 'Add category', new_category_path %></p>
  </div>

  <div class="col-md-9">

    <div class="row">

      <% @categories.each do |category| %>
          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <img src="http://placehold.it/320x150" alt="">
              <div class="caption">
                <h4><%= link_to category.title, category_path(category) %></h4>
              </div>
            </div>
          </div>
      <% end %>

    </div>

  </div>

</div>
