<div class="row">

  <div class="col-md-3">
    <p class="lead">Categories</p>
    <div class="list-group">
      <%= link_to new_category_path, class: "list-group-item" do %>
          <i class="glyphicon glyphicon-plus text-success"></i> Add a category
      <% end %>
    </div>
  </div>

  <div class="col-md-9">

    <div class="row">

      <% @categories.each do |category| %>
          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h4 class="text-center"><%= link_to category.title, category_path(category) %></h4>
              </div>
            </div>
          </div>
      <% end %>

    </div>

  </div>

</div>
