<div class="row">

  <div class="col-md-3">
    <p class="lead">New category</p>
    <div class="list-group">
      <%= link_to 'Back to categories', categories_path, class: "list-group-item" %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <%= render 'form' %>
    </div>
  </div>

</div>
