<div class="row">

  <div class="col-md-3">
    <p class="lead">New category</p>
    <div class="list-group">
      <%= link_to categories_path, class: "list-group-item" do %>
          <i class="glyphicon glyphicon-menu-left"></i> Back to categories
      <% end %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <%= render 'form' %>
    </div>
  </div>

</div>
