<div class="row">

  <div class="col-md-3">
    <p class="lead">Parameters</p>

    <%= link_to 'Edit', edit_category_path(@category) %> |
    <%= link_to 'Back', categories_path %>
  </div>

  <div class="col-md-9">

    <div class="thumbnail">
      <div class="caption-full">
        <h4><%= @category.title %></h4>
      </div>
    </div>

    <div class="well">

      <%= render @category.movies %>

    </div>

  </div>

</div>
