<footer class="footer-bs">
  <div class="row">
    <div class="col-md-3 footer-brand animated fadeInLeft">
      <h2>inTube</h2>
      <p>inTube is an educational project. It was realized only in one day.</p>
      <p>© 2016 Maxime Signoret, All rights reserved</p>
    </div>
  </div>
</footer>