<footer class="footer-bs">
  <div class="row">
    <div class="col-md-3 footer-brand animated fadeInLeft">
      <h2>inTube</h2>
      <p>Educational project realized in one day.</p>
      <p><a href="https://maximesignoret.fr" target="_blank">© <%= Time.now.strftime("%Y") %> Maxime Signoret</a></p>
    </div>
  </div>
</footer>