<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
  <%= form_tag(movies_path, :method => "get", class: "navbar-form navbar-left") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search videos", class: "form-control" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div><!-- /.navbar-collapse -->